/* Style global pour la section du formulaire */
.profile-form {
  width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Titre principal du formulaire */
.profile-form h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Style général pour les éléments du formulaire */
form {
  display: flex;
  flex-direction: column;
}

/* Style pour les groupes de formulaire */
.form-group,
.form-control {
  margin-bottom: 20px;
}

/* Style pour chaque ligne de formulaire */
.form-row {
  display: flex;
  justify-content: space-between;
}

/* Ajustement pour le dernier groupe de contrôle dans .form-row */
.form-control,
.form-group {
  flex: 1;
  margin-right: 10px;
}


/* Style pour les labels */
label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  color: #444;
}

/* Style pour les champs de saisie */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

/* Style de focus pour les champs de saisie */
input:focus,
select:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

/* Style pour le bouton de soumission */
button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  transition: background 0.3s;
}

/* Effet hover pour le bouton */
button:hover {
  background-color: #0056b3;
}

/* Styles responsive pour les petits écrans */
@media (max-width: 768px) {
  .profile-form {
    width: 100%;
    padding: 15px;
  }

  .form-row {
    flex-direction: column;
  }

  .form-group,
  .form-control {
    margin-right: 0;
  }
}
